.ipynb_checkpoints
first-neural-network/assets
first-neural-network/Bike-Sharing-Dataset
.DS_Store
submission.zip
sentiment-network/*.png
intro-to-tflearn/*Solution.ipynb
intro-to-tflearn/*Solutions.ipynb
intro-to-tflearn/mnist
__pycache__
image-classification/*.p
image-classification/*.data-00000-of-00001
image-classification/cifar-10-batches-py
image-classification/*.tar.gz
image-classification/*.index
image-classification/*.meta
transfer-learning/codes
transfer-learning/*.tar.gz
transfer-learning/labels
transfer-learning/flower_photos
transfer-learning/checkpoints
sentiment-rnn/assets
sentiment-rnn/checkpoints
.floydexpt
.floydignore
tv-script-generation/submission.zip
tv-script-generation/save.meta
tv-script-generation/save.index
tv-script-generation/checkpoint
tv-script-generation/params.p
tv-script-generation/preprocess.p
tv-script-generation/data/
tv-script-generation/save.data-00000-of-00001